<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samrudh.d">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.samrudh.d.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.samrudh.d.LoginActivity" />
        <activity android:name="com.samrudh.d.teacherlogin" />
        <activity android:name="com.samrudh.d.studentlogin" />
        <activity android:name="com.samrudh.d.adminlogin" />
        <activity android:name="com.samrudh.d.addteacher" />
        <activity android:name="com.samrudh.d.addstudent" />
        <activity android:name="com.samrudh.d.takeAttendance" />
        <activity android:name="com.samrudh.d.admin_attendanceSheet" />
        <activity android:name="com.samrudh.d.teacher_attendanceSheet" />
        <activity android:name="com.samrudh.d.student_attendance_sheet"></activity>
    </application>

</manifest>